@{
    ViewData["Title"] = "Home Page";
}

@{
    var role = "";
    if (User.IsInRole("Driver"))
    {
        role = "Driver";
    }
    else if (User.IsInRole("Passenger"))
    {
        role = "Passenger";
    }
}

<div class="text-center">
    <h1 class="display-4">Welcome @role</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
